*.code-workspace
venv
*__pycache__*
db.sqlite3*
*migrations*
*config.py
secoverview/api/localinteraction/config.py

media*
exclude

staticfiles
*chroma_db*

.env
*.joblib*
*.csv*
*.pcap*
secoverview/db.sqlite3-prod

nvdcve-2.0-20*.json
secoverview/dnsops/domainlists/*.txt
