{% extends "layout.html" %}

{% block content %}

    <!-- CSRF Token -->
    <form method="post" style="display: none;">
        {% csrf_token %}
    </form>

    <!-- Chat Box -->
    <div id="chat-page">
        <div id="chat-header" class="d-grid gap-4 d-md-flex">
            <h2>Chatbot</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" onclick="toggleDropdown()">Select a data pool</button>
                <ul class="dropdown-menu" id="dropdownList" class="dropdown-content">
                  <input type="text" placeholder="Search..." class="dropdown-search" id="dropdownSearch" onkeyup="filterFunction()">
                  <li><a class="dropdown-item" onclick="selectItem(this)">Apple</a></li>
                  <li><a class="dropdown-item" onclick="selectItem(this)">Test</a></li>
                  <li><a class="dropdown-item" onclick="selectItem(this)">2</a></li>
                  <li><a class="dropdown-item" onclick="selectItem(this)">Hello</a></li>
            </div>
        </div>
        <div id="chat-box-full">
            <p><b>Chatbot: </b>How can i help you?</p>
        </div>
        <div id="input-group mb-3">
            <input type="text" class="form-control" id="user_input" placeholder="Type your message" aria-describedby="send-btn">
            <button class="btn btn-dark" id="send-btn">Send</button>
        </div>
    </div>

    {% load static %}
    <script src="{% static "javascript/chatfull.js" %}"></script>


{% endblock %}