{% extends "layout.html" %}

{% block content %}

<div class="p-4">
    <h1>Victims</h1>
    <form class="d-flex">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table table-hover">
        <tr>
            <td>Title</td>
            <td>Country</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
        {% for victim in victims %}
        <tr>
            <td>{{ victim.post_title }}</td>
            <td>{{ victim.country }}</td>
            <td>{{ victim.description }}</td>
            <td><a href="{% url 'victimview' victim.pk %}"><button type="button" class="btn btn-dark">View</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<ul class="pagination">
    {% if victims.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ victims.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page=1" tabindex="-1">First</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page=1" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% if victims.number == 1 %}
    <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    {% elif victims.number == victims.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ victims.previous_page_number|add:'-5' }}">{{ victims.previous_page_number|add:"-1" }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ victims.previous_page_number  }}">{{ victims.previous_page_number }}</a></li>
    <li class="page-item active"><a class="page-link" href="?page={{ victims.number }}">{{ victims.number }} </a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ victims.previous_page_number }}">{{ victims.previous_page_number }}</a></li>
    <li class="page-item active">
      <a class="page-link" href="?page={{ victims.number }}">{{ victims.number }}</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ victims.next_page_number }}">{{ victims.next_page_number }}</a></li>
    {% endif %}

    {% if victims.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ victims.next_page_number }}">Next</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ victims.paginator.num_pages }}">Last</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page={{ victims.paginator.num_pages }}">Next</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ victims.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
</ul>


{% endblock %}