{% extends "layout.html" %}

{% block content %}
<br>
<h1>RSS Feed</h1>
<form class="d-flex">
    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br>
<div class="row text-center">
    {% for item in feed_items %}
    <hr/>
    <div class="col">    
        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
        <p>{{ item.summary|truncatewords:50 }}</p>
        <p><strong>Source:</strong> {{ item.source }} <strong>Date:</strong> {{ item.pub_date }}</p>
    </div>
    {% endfor %}
</div>

<ul class="pagination">
    {% if feed_items.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ feed_items.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page=1" tabindex="-1">First</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page=1" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% if feed_items.number == 1 %}
    <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    {% elif feed_items.number == feed_items.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ feed_items.previous_page_number|add:'-5' }}">{{ feed_items.previous_page_number|add:"-1" }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ feed_items.previous_page_number  }}">{{ feed_items.previous_page_number }}</a></li>
    <li class="page-item active"><a class="page-link" href="?page={{ feed_items.number }}">{{ feed_items.number }} </a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ feed_items.previous_page_number }}">{{ feed_items.previous_page_number }}</a></li>
    <li class="page-item active">
      <a class="page-link" href="?page={{ feed_items.number }}">{{ feed_items.number }}</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ feed_items.next_page_number }}">{{ feed_items.next_page_number }}</a></li>
    {% endif %}

    {% if feed_items.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ feed_items.next_page_number }}">Next</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ feed_items.paginator.num_pages }}">Last</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page={{ feed_items.paginator.num_pages }}">Next</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ feed_items.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
</ul>


{% endblock %}
