{% extends "layout.html" %}

{% block content %}

<div class="p-4">
    <h1>About</h1>
    <p>This is a hobby project. It is not intended to be accessed from 
    outside the local network.</p>
    <p>Do not scan assets without the permission of the owner. Use this app at 
    your own risk.</p>
    <p>For feedback or input, don't hesitate to contact me via the contact form 
    on the page: <a href="https://samuelgiger.com/contact/" target="_blank">samuelgiger.com</a>
    </p>
    <p>For the source code, please visit: <a href="https://github.com/gigersam/SecOverview" target="_blank">github.com/gigersam/SecOverview</a></p>
</div>

{% endblock %}