{% extends "layout.html" %}

{% block content %}

<div class="p-4">
    <h1>Assets</h1>
    <form class="d-flex">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table table-hover">
        <tr>
            <td>Name</td>
            <td>IP-Address</td>
            <td>Scan-Report</td>
            <td>Actions</td>
        </tr>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.name }}</td>
            <td>{{ asset.ip_address }}</td>
            <td>{{ asset.added_by_scan }}</td>
            <td><a href="{% url 'assetview' asset.pk %}"><button type="button" class="btn btn-dark">View</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<ul class="pagination">
    {% if assets.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ assets.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page=1" tabindex="-1">First</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page=1" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% if assets.number == 1 %}
    <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    {% elif assets.number == assets.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="?page={{ assets.previous_page_number|add:'-5' }}">{{ assets.previous_page_number|add:"-1" }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ assets.previous_page_number  }}">{{ assets.previous_page_number }}</a></li>
    <li class="page-item active"><a class="page-link" href="?page={{ assets.number }}">{{ assets.number }} </a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ assets.previous_page_number }}">{{ assets.previous_page_number }}</a></li>
    <li class="page-item active">
      <a class="page-link" href="?page={{ assets.number }}">{{ assets.number }}</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ assets.next_page_number }}">{{ assets.next_page_number }}</a></li>
    {% endif %}

    {% if assets.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ assets.next_page_number }}">Next</a>
      </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ assets.paginator.num_pages }}">Last</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page={{ assets.paginator.num_pages }}">Next</a>
      </li>
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ assets.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
</ul>



{% endblock %}