{% extends "layout.html" %}

{% block content %}

<div class="p-4">
    <h1>Scans</h1>
    <form class="d-flex">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table table-hover">
        <tr>
            <td>Scan Date</td>
            <td>IP-Range</td>
            <td>Parameters</td>
            <td>Actions</td>
        </tr>
        {% for scan in scans %}
        <tr>
            <td>{{ scan.created_at }}</td>
            <td>{{ scan.ip }}</td>
            <td>{{ scan.parameters }}</td>
            <td><a href="{% url 'scanview' scan.pk %}"><button type="button" class="btn btn-dark">View</button></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="pagination">
    <span class="step-links">

        <span class="current">
            Page {{ scans.number }} of {{ scans.paginator.num_pages }}.
        </span>

        {% if scans.has_previous %}
            <a href="?page=1" class="btn btn-default">First</a>
            <a href="?page={{ scans.previous_page_number }}" class="btn btn-default">Previous</a>
        {% endif %}

        {% if scans.has_next %}
            <a href="?page={{ scans.next_page_number }}" class="btn btn-default">Next</a>
            <a href="?page={{ scans.paginator.num_pages }}" class="btn btn-default">Last</a>
        {% endif %}
    </span>
</div>


{% endblock %}